.header {
  background-color: $color-gray;
  height: 4.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    color: $color-off-white;
    font-size: 2.5rem;
    margin: 2rem;
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    height: 100%;
    padding: 1.5rem 1rem;
    transition: 0.4s;
    margin: 0.2rem;

    &:hover {
      background-color: $color-primary;
    }

    &--active {
      background-color: $color-primary;
    }

    &--inactive {
      background-color: transparent;
    }
  }
}
