.period__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 5rem;
}

.period {
  margin-bottom: 5rem;
  font-size: 1.4rem;
  box-shadow: 5px 4px 5px rgb(32, 31, 31);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: block;

  &__load {
    background-color: $color-dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
  }

  &__header {
    background-color: $color-gray;
    height: 4rem;
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__date-change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
  }

  &__arrow {
    color: $color-off-white;
    font-size: 2rem;
    margin: 1rem;
    border: none;
    background-color: transparent;

    &:hover {
      color: $color-primary;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__date {
    text-transform: uppercase;
  }

  &__table {
    background-color: $color-dark-gray;
    width: 100%;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-collapse: collapse;
  }

  &__theader {
    padding: 1rem;
    text-align: center;

    &:first-child {
      background-color: $color-dark-gray;
      position: sticky;
      left: 0rem;
      width: 3rem;
      z-index: 1;
    }

    &:nth-child(2) {
      position: sticky;
      background-color: $color-dark-gray;
      left: 8.5rem;
      z-index: 1;
    }
  }

  &__trow td {
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
    z-index: 0;
    margin: 5rem;

    &:first-child {
      position: sticky;
      background-color: $color-dark-gray;
      left: 0;
      z-index: 1;
    }

    &:nth-child(2) {
      position: sticky;
      background-color: $color-dark-gray;
      left: 8.5rem;
      z-index: 1;
    }

    &:first-child:hover &:nth-child(2):hover {
      background-color: rgb(70, 70, 70);
    }
  }

  tbody tr:hover {
    background-color: rgb(70, 70, 70);
  }

  &__tinput {
    font-size: inherit;
    @include input;

    &--cash {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      p {
        margin-right: 0.5rem;
      }
    }
  }

  &__history {
    color: $color-off-white;
    background-color: transparent;
    border: none;

    &:hover {
      color: $color-primary;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__submit {
    position: fixed;
    bottom: 5vh;
    right: 5rem;
    width: 6.5rem;
    @include buttonPrimary;
  }
}

.calculator {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.5rem;
  background-color: $color-dark-gray;
  border-radius: 1rem;
  box-shadow: 5px 4px 5px rgb(32, 31, 31);

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: inherit;

    p {
      margin-right: 0rem;
    }
  }

  &__cinput {
    @include input;
  }

  &__clear {
    width: 6.5rem;
    margin: 1rem;
    @include buttonPrimary;
  }
}

.modal {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-dark-gray;
    width: 70%;
    border-radius: 1rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    width: 100%;
    height: 4rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  &__pdf {
    width: 95vw;
    height: 70vh;
    border: none;
    display: block;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  &__btn {
    margin: 1rem;
    width: 10rem;
    @include buttonPrimary;
  }
}

.loading {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-dark-gray;
    width: 30%;
    height: 10vh;
    border-radius: 1rem;
  }
}
