$color-primary: #3700b3;
$color-primary-secondary: #bb86fc;

$color-very-dark-gray: #232931;
$color-dark-gray: #393e46;
$color-gray: #292929;

$color-off-white: #eeeeee;

$color-light-green: #4ecca3;
$color-dark-green: #369172;

$color-red: #ad0808;
$color-light-red: #e20808;

// $color-dark-purple: #3700b3;
// $color-light-purple: #bb86fc;
